.w3-flat-turquoise, .w3-hover-flat-turquoise:hover
{color:#fff;background-color:#1abc9c!important}
.w3-text-flat-turquoise, .w3-hover-text-flat-turquoise:hover
{color:#1abc9c!important}
.w3-border-flat-turquoise, .w3-hover-border-flat-turquoise:hover
{border-color:#1abc9c!important}

.w3-flat-emerald, .w3-hover-flat-emerald:hover
{color:#fff;background-color:#2ecc71!important}
.w3-text-flat-emerald, .w3-hover-text-flat-emerald:hover
{color:#2ecc71!important}
.w3-border-flat-emerald, .w3-hover-border-flat-emerald:hover
{border-color:#2ecc71!important}

.w3-flat-peter-river, .w3-hover-flat-peter-river:hover
{color:#fff;background-color:#3498db!important}
.w3-text-flat-peter-river, .w3-hover-text-flat-peter-river:hover
{color:#3498db!important}
.w3-border-flat-peter-river, .w3-hover-border-flat-peter-river:hover
{border-color:#3498db!important}

.w3-flat-amethyst, .w3-hover-flat-amethyst:hover
{color:#fff;background-color:#9b59b6!important}
.w3-text-flat-amethyst, .w3-hover-text-flat-amethyst:hover
{color:#9b59b6!important}
.w3-border-flat-amethyst, .w3-hover-border-flat-amethyst:hover
{border-color:#9b59b6!important}

.w3-flat-wet-asphalt, .w3-hover-flat-wet-asphalt:hover
{color:#fff;background-color:#34495e!important}
.w3-text-flat-wet-asphalt, .w3-hover-text-wet-asphalt:hover
{color:#34495e!important}
.w3-border-flat-wet-asphalt, .w3-hover-border-flat-wet-asphalt:hover
{border-color:#34495e!important}

.w3-flat-green-sea, .w3-hover-flat-green-sea:hover
{color:#fff;background-color:#16a085!important}
.w3-text-flat-green-sea, .w3-hover-text-flat-green-sea:hover
{color:#16a085!important}
.w3-border-flat-green-sea, .w3-hover-border-flat-green-sea:hover
{border-color:#16a085!important}

.w3-flat-nephritis, .w3-hover-flat-nephritis:hover
{color:#fff;background-color:#27ae60!important}
.w3-text-flat-nephritis, .w3-hover-text-flat-nephritis:hover
{color:#27ae60!important}
.w3-border-flat-nephritis, .w3-hover-border-flat-nephritis:hover
{border-color:#27ae60!important}

.w3-flat-belize-hole, .w3-hover-flat-belize-hole:hover
{color:#fff;background-color:#2980b9!important}
.w3-text-flat-belize-hole, .w3-hover-text-belize-hole:hover
{color:#2980b9!important}
.w3-border-flat-belize-hole, .w3-hover-border-belize-hole:hover
{border-color:#2980b9!important}

.w3-flat-wisteria, .w3-hover-flat-wisteria:hover
{color:#fff;background-color:#8e44ad!important}
.w3-text-flat-wisteria, .w3-hover-text-flat-wisteria:hover
{color:#8e44ad!important}
.w3-border-flat-wisteria, .w3-hover-border-flat-wisteria:hover
{border-color:#8e44ad!important}

.w3-flat-midnight-blue, .w3-hover-flat-midnight-blue:hover
{color:#fff;background-color:#2c3e50!important}
.w3-text-flat-midnight-blue, .w3-hover-text-flat-midnight-blue:hover
{color:#2c3e50!important}
.w3-border-flat-midnight-blue, .w3-hover-border-flat-midnight-blue:hover
{border-color:#2c3e50!important}

.w3-flat-sun-flower, .w3-hover-flat-sun-flower:hover
{color:#fff;background-color:#f1c40f!important}
.w3-text-flat-sun-flower, .w3-hover-text-flat-sun-flower:hover
{color:#f1c40f!important}
.w3-border-flat-sun-flower, .w3-hover-border-flat-sun-flower:hover
{border-color:#f1c40f!important}

.w3-flat-carrot, .w3-hover-flat-carrot:hover
{color:#fff;background-color:#e67e22!important}
.w3-text-flat-carrot, .w3-hover-text-flat-carrot:hover
{color:#e67e22!important}
.w3-border-flat-carrot, .w3-hover-border-flat-carrot:hover
{border-color:#e67e22!important}

.w3-flat-alizarin, .w3-hover-flat-alizarin
{color:#fff;background-color:#e74c3c!important}
.w3-text-flat-alizarin, .w3-hover-text-flat-alizarin:hover
{color:#e74c3c!important}
.w3-border-flat-alizarin, .w3-hover-border-flat-alizarin:hover
{border-color:#e74c3c!important}

.w3-flat-clouds, .w3-hover-flat-clouds:hover
{color:#000;background-color:#ecf0f1!important}
.w3-text-flat-clouds, .w3-hover-text-flat-clouds:hover
{color:#ecf0f1!important}
.w3-border-flat-clouds, .w3-hover-border-flat-clouds:hover
{border-color:#ecf0f1!important}

.w3-flat-concrete, .w3-hover-flat-concrete:hover
{color:#fff;background-color:#95a5a6!important}
.w3-text-flat-concrete, .w3-hover-text-flat-concrete:hover
{color:#95a5a6!important}
.w3-border-flat-concrete, .w3-hover-border-flat-concrete:hover
{border-color:#95a5a6!important}

.w3-flat-orange, .w3-hover-flat-orange:hover
{color:#fff;background-color:#f39c12!important}
.w3-text-flat-orange, .w3-hover-text-flat-orange:hover
{color:#f39c12!important}
.w3-border-flat-orange, .w3-hover-border-flat-orange:hover
{border-color:#f39c12!important}

.w3-flat-pumpkin, .w3-hover-flat-pumpkin:hover
{color:#fff;background-color:#d35400!important}
.w3-text-flat-pumpkin, .w3-hover-text-flat-pumpkin:hover
{color:#d35400!important}
.w3-border-flat-pumpkin, .w3-hover-border-flat-pumpkin:hover
{border-color:#d35400!important}

.w3-flat-pomegranate, .w3-hover-flat-pomegranate:hover
{color:#fff;background-color:#c0392b!important}
.w3-text-flat-pomegranate, .w3-hover-text-flat-pomegranate:hover
{color:#c0392b!important}
.w3-border-flat-pomegranate, .w3-hover-border-flat-pomegranate:hover
{border-color:#c0392b!important}

.w3-flat-silver, .w3-hover-flat-silver:hover
{color:#000;background-color:#bdc3c7!important}
.w3-text-flat-silver, .w3-hover-text-flat-silver:hover
{color:#bdc3c7}
.w3-border-flat-silver, .w3-hover-border-flat-silver:hover
{border-color:#bdc3c7!important}

.w3-flat-asbestos, .w3-hover-flat-asbestos:hover
{color:#fff;background-color:#7f8c8d!important}
.w3-text-flat-asbestos, .w3-hover-text-flat-asbestos:hover
{color:#7f8c8d!important}
.w3-border-flat-asbestos, .w3-hover-border-flat-asbestos:hover
{border-color:#7f8c8d!important}