.w3-signal-yellow, .w3-hover-signal-yellow:hover
{color:#fff;background-color:#f7ba0b!important}
.w3-text-signal-yellow, .w3-hover-text-signal-yellow:hover
{color:#f7ba0b!important}
.w3-border-signal-yellow, .w3-hover-border-signal-yellow:hover
{border-color:#f7ba0b!important}

.w3-signal-orange, .w3-hover-signal-orange:hover
{color:#fff;background-color:#d4652f!important}
.w3-text-signal-orange, .w3-hover-text-signal-orange:hover
{color:#d4652f!important}
.w3-border-signal-orange, .w3-hover-border-signal-orange:hover
{border-color:#d4652f!important}

.w3-signal-red, .w3-hover-signal-red:hover
{color:#fff;background-color:#a02128!important}
.w3-text-signal-red, .w3-hover-text-signal-red:hover
{color:#a02128!important}
.w3-border-signal-red, .w3-hover-border-signal-red:hover
{border-color:#a02128!important}

.w3-signal-violet, .w3-hover-signal-violet:hover
{color:#fff;background-color:#904684!important}
.w3-text-signal-violet, .w3-hover-text-signal-violet:hover
{color:#904684!important}
.w3-border-signal-violet, .w3-hover-border-signal-violet:hover
{border-color:#904684!important}

.w3-signal-blue, .w3-hover-signal-blue:hover
{color:#fff;background-color:#154889!important}
.w3-text-signal-blue, .w3-hover-text-signal-blue:hover
{color:#154889!important}
.w3-border-signal-blue, .w3-hover-border-signal-blue:hover
{border-color:#154889!important}

.w3-signal-green, .w3-hover-signal-green:hover
{color:#fff;background-color:#317f43!important}
.w3-text-signal-green, .w3-hover-text-signal-green:hover
{color:#317f43!important}
.w3-border-signal-green, .w3-hover-border-signal-green:hover
{border-color:#317f43!important}

.w3-signal-grey, .w3-hover-signal-grey:hover, .w3-signal-gray, .w3-hover-signal-gray:hover
{color:#fff;background-color:#9b9b9b!important}
.w3-text-signal-grey, .w3-hover-text-signal-grey:hover, .w3-text-signal-gray, .w3-hover-text-signal-gray:hover
{color:#9b9b9b!important}
.w3-border-signal-grey, .w3-hover-border-signal-grey:hover, .w3-border-signal-gray, .w3-hover-border-signal-gray:hover
{border-color:#9b9b9b!important}

.w3-signal-brown, .w3-hover-signal-brown:hover
{color:#fff;background-color:#7b5141!important}
.w3-text-signal-brown, .w3-hover-text-signal-brown:hover
{color:#7b5141!important}
.w3-border-signal-brown, .w3-hover-border-signal-brown:hover
{border-color:#7b5141!important}

.w3-signal-white, .w3-hover-signal-white:hover
{color:#000;background-color:#f4f4f4!important}
.w3-text-signal-white, .w3-hover-text-signal-white:hover
{color:#f4f4f4!important}
.w3-border-signal-white, .w3-hover-hover-signal-white:hover
{border-color:#f4f4f4!important}

.w3-signal-black, .w3-hover-signal-black:hover
{color:#fff;background-color:#282828!important}
.w3-text-signal-black, .w3-hover-text-signal-black:hover
{color:#282828!important}
.w3-border-signal-black, .w3-hover-border-signal-black:hover
{border-color:#282828!important}