.w3-safety-red, .w3-hover-safety-red:hover
{color:#fff!important;background-color:#bd1e24!important}
.w3-text-safety-red, .w3-hover-text-safety-red:hover
{color:#bd1e24!important}
.w3-border-safety-red, .w3-hover-border-safety-red:hover
{border-color:#bd1e24!important}

.w3-safety-orange, .w3-hover-safety-orange:hover
{color:#fff!important;background-color:#e97600!important}
.w3-text-safety-orange, .w3-hover-text-safety-orange:hover
{color:#e97600!important}
.w3-border-safety-orange, .w3-hover-border-safety-orange:hover
{border-color:#e97600!important}

.w3-safety-yellow, .w3-hover-safety-yellow:hover
{color:#fff!important;background-color:#f6c700!important}
.w3-text-safety-yellow, .w3-hover-text-safety-yellow:hover
{color:#f6c700!important}
.w3-border-safety-yellow, .w3-hover-border-safety-yellow:hover
{border-color:#f6c700!important}

.w3-safety-green, .w3-hover-safety-green:hover
{color:#fff!important;background-color:#007256!important}
.w3-text-safety-green, .w3-hover-text-safety-green:hover
{color:#007256!important}
.w3-border-safety-green, .w3-hover-border-safety-green:hover
{border-color:#007256!important}

.w3-safety-blue, .w3-hover-safety-blue:hover
{color:#fff!important;background-color:#0067a7!important}
.w3-text-safety-blue, .w3-hover-text-safety-blue:hover
{color:#0067a7!important}
.w3-border-safety-blue, .w3-hover-border-safety-blue:hover
{border-color:#0067a7!important}

.w3-safety-purple, .w3-hover-safety-purple:hover
{color:#fff!important;background-color:#964f8e!important}
.w3-text-safety-purple, .w3-hover-text-safety-purple:hover
{color:#964f8e!important}
.w3-border-safety-purple, .w3-hover-border-safety-purple:hover
{border-color:#964f8e!important}